* {
    margin: 0%;
    padding: 0%;
}
.ci1 {
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover1.jpg);
}
.ci2 {
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover2.jpg);
}
.ci3 {
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover3.jpg);
}

/* .ci h1 {
    margin: 0;
    color: white;
} */